{% extends "blog/base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
<p><i class="{{ article.category.icon }}"></i> {{ article.category.title }}</p>
<p><small>{{ article.publication_date }} · {{ article.author }}</small></p>
{% if article.image %}<img class="img-fluid mb-3" src="{{ article.image }}" alt="">{% endif %}

<div class="mb-4">{{ article.text|linebreaks }}</div>

<p><b>Теги:</b>
  {% for t in article.tag.all %}
    <span class="badge text-bg-secondary">{{ t.title }}</span>
  {% empty %}
    <span class="text-muted">немає</span>
  {% endfor %}
</p>

<h3>Коментарі</h3>
<p>
  <a class="btn btn-outline-primary" href="{% url 'comment_create' article.pk %}">
    Додати коментар{% if not user.is_authenticated %} як гість{% endif %}
  </a>
</p>

<ul class="list-group">
  {% for c in article.comments.all %}
    <li class="list-group-item">
      <b>
  {% if c.author %}
    {{ c.author }}
  {% elif c.user %}
    {{ c.user.username }}
  {% else %}
    anon
  {% endif %}
</b>
      <small class="text-muted">{{ c.publication_date }}</small><br>
      {{ c.text }}

      {% if user.is_authenticated %}
  {% if c.user_id == user.id %}
    <!-- власник: може редагувати і видаляти -->
    <div class="mt-2">
      <a class="btn btn-sm btn-outline-secondary"
         href="{% url 'comment_edit' article.pk c.pk %}">Редагувати</a>
      <form method="post" action="{% url 'comment_delete' article.pk c.pk %}" style="display:inline">
        {% csrf_token %}<button class="btn btn-sm btn-outline-danger">Видалити</button>
      </form>
    </div>
  {% elif is_moderator %}
    <!-- модератор (НЕ власник): тільки видаляти -->
    <div class="mt-2">
      <form method="post" action="{% url 'comment_delete' article.pk c.pk %}" style="display:inline">
        {% csrf_token %}<button class="btn btn-sm btn-outline-danger">Видалити</button>
      </form>
    </div>
  {% endif %}
{% endif %}

    </li>
  {% empty %}
    <li class="list-group-item">Коментарів ще немає.</li>
  {% endfor %}
</ul>


{% endblock %}
